p,
.paragraph {
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: var(--paragraph-font-family);
  font-size: var(--paragraph-font-size);
  line-height: var(--paragraph-line-height);
  font-weight: var(--paragraph-font-weight);
  color: var(--paragraph);
}

.paragraph--bold {
  font-weight: var(--paragraph-font-weight-bold);
}
