.heading,
h1,
h2,
h3 {
  margin: 0;
  font-family: var(--heading-font);
  line-height: var(--heading-line-height);
  letter-spacing: var(--heading-letter-spacing);
  font-weight: var(--heading-font-weight);
  color: var(--heading);
}

h1.heading--1-xl {
  font-size: var(--heading-font-size-h1-xl);
  font-weight: var(--heading-font-weight-h1-xl);
}

h1,
.heading--1 {
  font-size: var(--heading-font-size-h1);
}

h2,
.heading--2 {
  font-size: var(--heading-font-size-h2);
}

h3,
.heading--3 {
  font-size: var(--heading-font-size-h3);
}
