.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  cursor: pointer;
  border: var(--button-border);
  box-sizing: border-box;
  font-size: var(--button-font-size);
}

/* Primary */
.button--primary {
  color: var(--button-primary-text);
  background-color: var(--button-primary-bg);
  padding: var(--button-spacing-padding);
  border-radius: var(--button-radius-sm);
  border-color: var(--button-primary-border);
}

.button--primary:hover {
  background-color: var(--button-primary-hover-bg);
}

/* Link */
.button--link {
  text-decoration: none;
}

.button--link,
.button--link:visited {
  color: var(--button-link-text);
  border: none;
}

.button--link:hover {
  color: var(--button-link-hover);
}

.button-appearance {
  text-decoration: none;
  text-align: center;
}

.button-appearance.button--primary:visited {
  color: var(--button-primary-text);
}

/* Icon only button*/
.button--icon-only {
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--button-size-icon-only);
  height: var(--button-size-icon-only);
  aspect-ratio: 1 / 1;
  border-radius: var(--radius-full);
  background-color: transparent;
  border: none;
}

.button--icon-only .icon {
  flex-shrink: 0;
  width: var(--button-icon-size);
  height: var(--button-icon-size);
}

.button--icon-only .icon:focus {
  outline: none;
}
