/* ==========================================================================
   1. PRIMITIVES
   ========================================================================== */
:root {
  /* Primary */
  --color-primary-600: #2c2657;
  --color-primary-500: #483e8e;
  --color-primary-400: #594bbf;
  --color-primary-300: #6a5ae2;
  --color-primary-200: #7764ff;
  --color-primary-600-a30: rgba(44, 38, 87, 0.8);

  /* White */
  --color-white: #fafafa;
  --color-white-a90: rgba(250, 250, 250, 0.9);

  /* Black */
  --color-black: #1a1d20;

  /* Gray */
  --color-gray-200: #e9eaeb;
  --color-gray-400: #a4a7ae;
  --color-gray-600: #535862;
  --color-gray-600-a70: rgba(83, 88, 98, 0.7);
}

/* ==========================================================================
   2. SEMANTIC TOKENS
   ========================================================================== */
:root {
  /* Text */
  --text-main: var(--color-black);
  --text-inverted: var(--color-white);
  --text-placeholder: var(--color-gray-400);

  /* Border */
  --border-main: var(--color-primary-600);

  /* Background */
  --page-bg: var(--color-white);

  /* Surface */
  --surface-main: var(--color-primary-600-a30);
  --surface-solid: var(--color-primary-600);

  /* Hover */
  --hover-primary: var(--color-primary-600);

  /* Focus */
  --focus-spacer: var(--page-bg);
  --focus-ring: var(--color-gray-400);
  --focus-glow: var(--color-gray-200);
}

/* ==========================================================================
   3. COMPONENT TOKENS
   ========================================================================== */
:root {
  /* --- ATOMS --- */
  /* Backdrop */
  --backdrop-bg: var(--color-gray-600-a70);

  /* Button - primary */
  --button-primary-text: var(--text-inverted);
  --button-primary-bg: var(--color-primary-600);
  --button-primary-hover-bg: var(--color-primary-400);
  --button-primary-border: var(--color-primary-600);

  /* Button -secondary */
  --button-secondary-text: var(--text-inverted);
  --button-secondary-bg: var(--color-secondary-600);
  --button-secondary-hover-bg: var(--color-secondary-600-700);
  --button-secondary-border: var(--color-secondary-600);

  /* Button - tertiary */
  --button-tertiary-text: var(--color-primary-800);
  --button-tertiary-bg: transparent;
  --button-tertiary-hover-text: var(--text-inverted);
  --button-tertiary-hover-bg: var(--color-primary-400);

  /* Button - transparent */
  --button-transparent-text: var(--text-main);

  /* Button - link */
  --button-link-text: var(--text-main);
  --button-link-hover: var(--hover-primary);

  /* Button - disabled */
  --button-disabled-text: var(--disabled-text);
  --button-disabled-bg: var(--disabled-bg);
  --button-disabled-hover-bg: var(--disabled-hover-bg);

  /* Code */
  --code-bg: var(--color-gray-100);

  /* Heading */
  --heading: var(--text-main);
  --heading-h1: var(--text-main);
  --heading-h2: var(--text-main);
  --heading-h3: var(--text-main);

  /* List */
  --list-marker: var(--color-primary-600);

  /* Paragraph */
  --paragraph: var(--text-main);
  --paragraph-inverted: var(--text-inverted);

  /* --- MOLECULES --- */
  /* Media object */
  --media-object-heading: var(--text-main);

  /* Mobile menu */
  --mobile-menu-bg: var(--surface-solid);

  /* ORGANISMS */
  /* Card */
  --card-heading: var(--text-main);
  --card-bg: transparent;

  /* Header */
  --header-bg: var(--page-bg);
  --header-logo-text: var(--text-main);
  --header-icon-hover: var(--hover-primary);

  /* Hero */
  --hero-heading: var(--text-main);

  /* Modal */
  --modal-bg: var(--color-gray-100);
  --modal-heading: var(--text-main);
}
