/* ==========================================================================
   1. PRIMITIVES
   ========================================================================== */
:root {
  /* --- FONT FAMILY --- */
  --font-family-base: "Open Sans", sans-serif;
  --font-family-heading: "Montserrat", sans-serif;

  /* --- FONT SIZE --- */
  --font-size-base: 0.875rem; /* 14px */
  --font-size-lg: 1rem; /* 16px */
  --font-size-xl: 1.125rem; /* 18px */
  --font-size-2xl: 1.25rem; /* 20px */
  --font-size-3xl: 2rem; /* 32px */

  /* --- FONT WEIGHT --- */
  --font-weight-base: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* --- LINE HEIGHT --- */
  --line-height-sm: 1.25;
  --line-height-base: 1.5;
  --line-height-lg: 1.75;

  /* ---LETTER SPACING */
  --letter-spacing-sm: -0.02em;
}

/* ==========================================================================
   2. SEMANTIC TOKENS
   ========================================================================== */
:root {
  /* Icon 'first-line anchor' used to align icons to the first line of text. This variable 
  returns the line height in px, which shall be applied to the icon's wrapper height and then 
  centre the icon within it's wrapper (e.g. align checkbox to label's first line) */
  --icon-alignment-height: calc(
    var(--font-size-base) * var(--line-height-base)
  ); /* For span, li, paragraph, etc. */
}

/* ==========================================================================
   3. COMPONENT TOKENS
   ========================================================================== */
:root {
  /* --- ATOMS --- */
  /* Heading */
  --heading-font: var(--font-family-heading);
  --heading-line-height: var(--line-height-sm);
  --heading-letter-spacing: var(--letter-spacing-sm);
  --heading-font-weight: var(--font-weight-semibold);

  /* Heading - H1 XL */
  --heading-font-size-h1-xl: var(--font-size-3xl);
  --heading-font-weight-h1-xl: var(--font-weight-bold);

  /* Heading - H1 */
  --heading-font-size-h1: var(--font-size-2xl);

  /* Heading - H2 */
  --heading-font-size-h2: var(--font-size-xl);

  /* Heading - H3 */
  --heading-font-size-h3: var(--font-size-lg);

  /* List */
  --list-number-font-size: var(--font-size-base);
  --list-number-font-weight: var(--font-weight-base);
  --list-value-font-size: var(--font-size-base);

  /* Paragraph */
  --paragraph-font-family: var(--font-family-base);
  --paragraph-font-size: var(--font-size-base);
  --paragraph-line-height: var(--line-height-base);
  --paragraph-font-weight: var(--font-weight-base);
  --paragraph-font-weight-bold: var(--font-weight-bold);

  /* ORGANISMS */

  /* Modal */
  --modal-heading-font-size: var(--font-size-2xl);
  --modal-heading-font-weight: var(--font-weight-semibold);
  --modal-heading-line-height: var(--line-height-sm);
}

/* ==========================================================================
   4. DESKTOP OVERRIDES
   ========================================================================== */
@media (min-width: 768px) {
  :root {
    /* --- FONT SIZE --- */
    --font-size-base: 1rem; /* 16px */
    --font-size-lg: 1.125rem; /* 18px */
    --font-size-xl: 1.25rem; /* 20px */
    --font-size-2xl: 1.5rem; /* 24px */
    --font-size-3xl: 2.5rem; /* 40px */
  }
}
